.content {
  /* This is the parent of the activity 1 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows:  1fr 1fr; */

  /* ^^^^ 1fr on the left and 3fr is three times more on the right, or you could see it as 25% and 75% - 'fr' stands fro 'fraction' */
  /* height: 400px; */
}

/* .white {
  width: 100%;
  height: 100%;
  background-color: yellow;
  grid-column: 1/2;
  grid-row: 1/3
} */

.img {
  width: 100%;
  
  grid-column: 1/2;
  grid-row: 1/3;
  z-index: -1;
}
h1{
  font-size: 9em;
  text-align: center;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1; 
}
h2{
  font-size: 5em;
  color: rgb(131, 12, 12);
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 1; 
}
.grey {
  width: 100%;
  height: 100%;
  background-color: rgb(179, 179, 179);
  grid-column: 2/3;
  grid-row: 1/3;
}


