/* *{
    border:2px solid red
} */
/* ^^^^^ This commented out code when active lets you see the containers */
@import url("https://use.typekit.net/fft6xfe.css");

body {
    /* background-color: rgb(192, 212, 212); */
    padding: 0;
    margin: 0};
   

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white
}

nav {
    display: flex;
    justify-content:center;
    background-color: rgb(192, 212, 212);
}

.nav_link {
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
}

img{
    width: 50%;
    /* ^^^ Takes a percentage of the container, making it repsonsive to the screen it is on. 
    VS a pixel based size that stays the same size no matter what */
    display:block;
    margin:0 auto;
    /* ^ Centers inside the container itself */
    /* padding: 20px; */
    /* padding: 15px; */
    border-radius: 30px;
    /* border-radius: 50%; */
    border: 5px black;
    box-shadow: 2.5px 2.5px 5px rgb(182, 182, 182);
    transition: transform .5s;
    /* ^^^^^ gives .5 seconds before it changes photo */

}
img:hover{
    opacity: .6;
    transform: scale(1.1);
    /* ^^^^ makes image 110% size and goes down to 60% opacity*/
}


a {
    padding: 10px; 
    color: black;
    font-size: 1.15em; /* <means that it is 130% bigger than the default text */
    text-decoration: none;
    text-align: center
    /* ^centers inside of container */
}

nav a:hover {
    color:aqua;
    background-color: rgb(15, 25, 34)
}
#main_title {
    font-size: 3em;
    text-align: center;
    font-family: "corsario-variable", sans-serif;
    /* font-variation-settings: "opsz" 48, "wght" 900; */
}

/* Targets Paragraph */
p, h3 {
    color: black;
    text-align: center;
}

main p{
    width: 50%;
    margin: 20px auto; 
    /* ^^^centers the container itself^^^ */
    font-size: 1.23em;
    line-height: 1.5;
    padding: 30px;
    background-color: blanchedalmond;
    border: 2px solid black;
    color:black;
    box-sizing: border-box;
    border-radius: 20px 20px 2px 2px;

} 

#sub_title{
    color: black
}

footer{
    background-color:rgb(192, 212, 212);
    padding: 20px
}

footer a {
    color: white
}

@media screen and (max-width: 900px) {
    main{
        display: block
    }
}
/* ^^^^^ gets rid of the grid when smaller than 900px (I dont currently have a grid on this) */